<div class="input-wrapper">
    <label class="input-label" for="{{name}}">{{labeltext}}</label>
    <input class="form-input" type="{{type}}" id="{{name}}" name="{{name}}">
    <label for="{{name}}" class="input-error">error message</label>
</div>
